# [8] 부스팅 -Boosting
`-` 의사결정나무의 최종 진화형
 - table data 분석하는 가장 좋은 아이디어
 - ex) LightGBM , XGBoost , CatBoost
 - tabular 대회에서도 가장 우승많이한 아이디어

# `-` 주요 키워드
- 랜덤포레스트 : 다양성
- 부스팅 : 성장

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.tree
import sklearn.ensemble
#---#
import warnings
warnings.filterwarnings('ignore')
#---#
import matplotlib.animation
import IPython

In [5]:
np.random.seed(43052)
temp = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/temp.csv').iloc[:,3].to_numpy()[:80]
temp.sort()
eps = np.random.randn(80)*3 # 오차
icecream_sales = 20 + temp * 2.5 + eps 
df_train = pd.DataFrame({'temp':temp,'sales':icecream_sales})
df_train

    temp      sales
0   -4.1  10.900261
1   -3.7  14.002524
2   -3.0  15.928335
3   -1.3  17.673681
4   -0.5  19.463362
..   ...        ...
75   9.7  50.813741
76  10.3  42.304739
77  10.6  45.662019
78  12.1  48.739157
79  12.4  46.007937

[80 rows x 2 columns]